.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 11px 20px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#6b6863),
		to(#666261));
	background: linear-gradient(
		top,
		#6b6863 0%,
		#666261);
	border-radius: 6px;
	border: 1px solid #706d6a;
	box-shadow:
		0px 0px 0px rgba(0,0,0,0),
		inset 0px 0px 0px rgba(82,75,82,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
}
